<p id="notice"><%= notice %></p>

<h1>Listing Directorios</h1>

<table>
  <thead>
    <tr>
      <th>Usuario rut</th>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th>Telefono</th>
      <th>Celular</th>
      <th>Direccion</th>
      <th>Comuna</th>
      <th>Ciudad</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @directorios.each do |directorio| %>
      <tr>
        <td><%= directorio.usuario_rut %></td>
        <td><%= directorio.nombre %></td>
        <td><%= directorio.descripcion %></td>
        <td><%= directorio.telefono %></td>
        <td><%= directorio.celular %></td>
        <td><%= directorio.direccion %></td>
        <td><%= directorio.comuna %></td>
        <td><%= directorio.ciudad %></td>
        <td><%= link_to 'Show', directorio %></td>
        <td><%= link_to 'Edit', edit_directorio_path(directorio) %></td>
        <td><%= link_to 'Destroy', directorio, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Directorio', new_directorio_path %>
