<p id="notice"><%= notice %></p>

<p>
  <strong>Usuario rut:</strong>
  <%= @directorio.usuario_rut %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @directorio.nombre %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @directorio.descripcion %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @directorio.telefono %>
</p>

<p>
  <strong>Celular:</strong>
  <%= @directorio.celular %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @directorio.direccion %>
</p>

<p>
  <strong>Comuna:</strong>
  <%= @directorio.comuna %>
</p>

<p>
  <strong>Ciudad:</strong>
  <%= @directorio.ciudad %>
</p>

<%= link_to 'Edit', edit_directorio_path(@directorio) %> |
<%= link_to 'Back', directorios_path %>
