<%= form_for(@red_directorio) do |f| %>
  <% if @red_directorio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@red_directorio.errors.count, "error") %> prohibited this red_directorio from being saved:</h2>

      <ul>
      <% @red_directorio.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :directorio_id %><br>
    <%= f.number_field :directorio_id %>
  </div>
  <div class="field">
    <%= f.label :red %><br>
    <%= f.text_field :red %>
  </div>
  <div class="field">
    <%= f.label :link %><br>
    <%= f.text_field :link %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
